@import './partials/variables.scss';
@import './partials/books.scss';
@import './partials/favorites.scss';
@import './partials/modal-window.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, 
body {
  height: 100%;
}

body {
  background-color: $background-gray;
}

a {
  text-decoration: none;
}

.page-container {
  min-height: 100%;
  margin-bottom: -100px;
}

.content-container {
  margin: 0px auto;
  width: 70%;
}

.addition-info {
  bottom: 10px;
  position: absolute;
  right: 35px;
}

.contributor,
.publish-date {
  color: $flat-light-gray;
  font-size: 14px;
  text-align: right;  
}

.push {
  height: 100px;
}

.page-header,
.page-footer {
  background-color: $flat-gray;
  height: 100px;
}

/*======<ngProgress>========*/
#ngProgress {
  margin: 0;
  padding: 0;
  z-index: 99998;
  background-color: green;
  color: green;
  box-shadow: 0 0 10px 0; /* Inherits the font color */
  height: 2px;
  opacity: 0;

  /* Add CSS3 styles for transition smoothing */
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}
/*======<ngProgress>========*/