$arial-font-stack: Arial, sans-serif;
$flat-blue: #2980b9;
$background-gray: #ecf0f1;
$header-footer-background: #464547;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, 
body {
  height: 100%;
}

body {
  background-color: $background-gray;
}

.page-container {
  min-height: 100%;
  margin-bottom: -100px;
}

.content-container {
  margin: 0px auto;
  width: 70%;
}

.push {
  height: 100px;
}

.selectpicker-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.selectpicker {
  border: 1px solid $header-footer-background;
  border-radius: 4px;
  height: 40px;
  padding: 10px;
 
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  font-family: $arial-font-stack;
  justify-content: space-around;
  padding: 50px 0px 50px 0px;
}

.book {
  background-color: white;
  font-size: 14px;
  height: 250px;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
  width: 300px;
  
  p:first-child {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
  }
  
  p:nth-child(2) {
    font-size: 15px;
    padding-bottom: 25px;
  }
}

.book-description {
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

.buy-link {
  border-radius: 3px;
  background-color: $flat-blue;
  bottom: 10px;
  color: white;
  display: inline-block;
  font-family: $arial-font-stack;
  height: 40px;
  right: 15px;
  padding-top: 12px;
  position: absolute;
  text-align: center;
  width: 120px;
}

.page-header,
.page-footer {
  background-color: $header-footer-background;
  height: 100px;
}

/*======<ngProgress>========*/
#ngProgress {
  margin: 0;
  padding: 0;
  z-index: 99998;
  background-color: green;
  color: green;
  box-shadow: 0 0 10px 0; /* Inherits the font color */
  height: 2px;
  opacity: 0;

  /* Add CSS3 styles for transition smoothing */
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}
/*======<ngProgress>========*/