@import './partials/variables.scss';
@import './partials/books.scss';
@import './partials/modal-window.scss';
@import './partials/progress-bar.scss';
@import './partials/form.scss';
@import './partials/errors-box.scss';
@import './partials/home.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, 
body {
  height: 100%;
}

body {
  background-color: $background-gray;
}

a {
  text-decoration: none;
}

section {
  color: $flat-gray;
  font-family: $arial-font-stack;
}

.page-container {
  min-height: 100%;
  margin-bottom: -100px;
}

.content-container {
  margin: 0px auto;
  width: 70%;
}

.page-header {
  padding: 30px;
}

.page-label {
  color: white;
}

.addition-info {
  bottom: 10px;
  position: absolute;
  right: 35px;
}

.contributor,
.publish-date {
  color: $flat-light-gray;
  font-size: 14px;
  text-align: right;  
}

.navigation-container {
  background-color: white;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  padding-right: 30px;
}

.navigation-button {
  background-color: inherit;
  border: 0px;
  color: $flat-gray;
  font-size: 20px;
  margin-left: 30px;
}

.navigation-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.push {
  height: 100px;
}

.page-header,
.page-footer {
  background-color: $flat-gray;
  height: 100px;
}
