@import './partials/variables.scss';
@import './partials/books.scss';
@import './partials/modal-window.scss';
@import './partials/progress-bar.scss';
@import './partials/form.scss';
@import './partials/errors-box.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, 
body {
  height: 100%;
}

body {
  background-color: $background-gray;
}

a {
  text-decoration: none;
}

.page-container {
  min-height: 100%;
  margin-bottom: -100px;
}

.content-container {
  margin: 0px auto;
  width: 70%;
}

.addition-info {
  bottom: 10px;
  position: absolute;
  right: 35px;
}

.contributor,
.publish-date {
  color: $flat-light-gray;
  font-size: 14px;
  text-align: right;  
}

.push {
  height: 100px;
}

.page-header,
.page-footer {
  background-color: $flat-gray;
  height: 100px;
}
