.selectpicker-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

input[type=text] {
  margin-left: 20px;
  width: 311px;
}

input[type=text],
.selectpicker {
  border: 2px solid $flat-gray;
  border-radius: 4px;
  height: 40px;
  padding: 10px;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  font-family: $arial-font-stack;
  justify-content: space-around;
  padding: 50px 0px 50px 0px;
}

.book {
  background-color: white;
  font-size: 14px;
  height: 250px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  transition: opacity .2s ease-in-out;
  width: 300px;
  
  & > p:first-child {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
  }
  
  & > p:nth-child(2) {
    font-size: 15px;
    padding-bottom: 25px;
  }
  
  .addition-info {
    right: 20px;
  }
}

.book:hover {
  opacity: .7;
}

.options-container {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  top: 0;
  left: 0;
  padding-top: 55px;
  transform: translateY(-100%) scale(.8);
  transition: transform .4s ease-out;
  background: rgba(0,0,0,.9);
  z-index: 1;
}


.book:hover .options-container {
  transform: translateY(0%) scale(1);
}

.options {
  margin: 20px auto;
  width: 50%;
}

.options-button {
  background-color: inherit;
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  display: block;
  height: 35px;
  margin-bottom: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 100%;
}

a.options-button {
  font-size: 13.33px;
  padding-top: 7px;
}

.options-button:hover {
  background-color: white;
  color: black;
}

.book-description {
  padding-bottom: 20px;
}

.favorites-link {
  border: 2px solid $flat-gray;
  border-radius: 5px;
  height: 40px;
  position: fixed;
  width: 200px;
  right: 20px;
  bottom: 110px;
  transition: background-color 0.3s ease;
}

.favorites-link:after {
  background-color: white;
  border: 2px solid $flat-gray;
  bottom: 8px;
  content: "";
  display: block;
  height: 15px;
  transform: rotate(45deg);
  position: absolute;
  right: -10px;
  width: 15px;
  transition: background-color 0.3s ease;
}

.text-wrapper {
  background-color: white;
  border-radius: 5px;
  bottom: 0px;
  color: $flat-gray;
  font-family: $arial-font-stack;
  height: 100%;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 100%;
  z-index: 1;
}

.favorites-link:hover {
  background-color: $flat-gray;
}

.favorites-link:hover::after {
  background-color: $flat-gray;
}

.favorites-link:hover .text-wrapper {
  background-color: $flat-gray;
  color: white;
}

.delete-favorites {
  cursor: pointer;
  font-size: 15px;
}