.errors-box {
  background-color:rgba(231, 76, 60, 0.6);
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  
  p {
    margin-bottom: 0px;
    text-align: center;

  }
}

.errors-box .close-errors-box {
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  right: 10px;
  text-align: right;
  top: 10px;
}